[Unit]
Description=Blender server

[Service]
Type=idle
User=pi
ExecStart=/usr/bin/python3 /home/pi/blendserv/server/blendserv.py > /home/pi/blender.log 2>&1

[Install]
WantedBy=multi-user.target
